<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1032906769274-c69okkkaguadgd01fk1t03kml7iq2ke9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032906769274-c69okkkaguadgd01fk1t03kml7iq2ke9</string>
	<key>API_KEY</key>
	<string>AIzaSyCgaSeywU2H3QYwonFe-O2EP4VruTrTbt0</string>
	<key>GCM_SENDER_ID</key>
	<string>1032906769274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>digital.telenor.panacea.debug</string>
	<key>PROJECT_ID</key>
	<string>pantel-2decb</string>
	<key>STORAGE_BUCKET</key>
	<string>pantel-2decb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032906769274:ios:e080dd3f35342682</string>
	<key>DATABASE_URL</key>
	<string>https://pantel-2decb.firebaseio.com</string>
</dict>
</plist>